@font-face {
    font-family: 'BananaChipsFont';
    src: url('../Font/BananaChips-Regular.woff2') format('woff2');
}
body {
    background-color: #4e3838;
    color: #e0e0e0;
    font-family: 'BananaChipsFont', "Century Gothic", sans-serif;
    text-shadow: 0px 0px 25px #000;
    image-rendering: pixelated;
    margin: 0;
    padding: 20px;
}
h1 {
    margin: 0.2em;
    border-width: 0.1em;
    border-radius: 0.3em;
    border: 10px solid #774f2f;
    padding-bottom: 1rem;
    text-align: center;
    justify-content: center;
    font-size: 10rem;
    font-weight: normal;
}
h2 {
    margin: .3em;
    border: #99663c;
    border-style: solid;
    border-width: 0.1em;
    border-radius: 0.3em;
    text-align: center;
    font-size: 3em;
    padding: 0.1em auto;
    font-weight: normal;
}
.hero {
    display: flex;
    justify-content: center;
    background-color: #312424;
}
.hero img {
    max-width: 90%;
    max-height: auto;
    object-fit: cover;
}
.hero:hover img{
    filter: blur(5px) brightness(50%);
}

.landing-text {
    text-align: center;
    font-size: 3rem;
    
}

footer 
{
    display: block;
    background-color: #000;
}
.nav-links {
    display: flex;
    flex-direction: row;
    gap: 200px;
    padding: 0.5em;
    font-size: 2em;
    margin: 10px auto;
    justify-content: center;
    border-collapse: collapse;
    background-color: #252525;
    color: #e0e0e0;
    border: 1px solid #444;
    border-radius: 6px;
    overflow: auto;
}

/* hypertext links */
a {
    color: #a16f52;
}
a :visited
{
    color: #6b4a37;
}

a :hover {
    font-size: 1rem;
    color: white;
}

/* Menu Stuff */
.menu-container {
    display: block;

}
.menu-item {
    
}

/* review page stuff */
review-container
{
    display: flex;
    flex-direction: column;
    overflow: scroll;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.review
{
    background-color: #252525;
    color: #e0e0e0;
    border: 1px solid #444;
}
